# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugin-dependencies
.flutter-plugins-dependencies

# Python
__pycache__/
*.pyc

# IDE
.idea/
*.iml
.vscode/

# Local properties
**/android/local.properties

# Build artifacts
Gotowa_Aplikacja_Android/
